<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css">
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
  <div id="wrapper">
    <div class="left-side"><img src="http://jmstevenson.files.wordpress.com/2011/05/rhett-butler.jpg" alt="haxfred">
      <h1>Haxfred</h1>
      <h3>What a <em>sexy</em> man!</h3>
      <p id="lastSaid">[insert last thing said, here]</p>
    </div>

    <div class="right-side">
      <div id="log"></div>
    </div>
  </div>
  <script src="js/app.js"></script>
</body>
</html>
